body {
  text-align: center;
  background-color: #242424;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.set{
  position: relative;
}

.key{
  border-radius: 3%;
}


.white-set {
  position: absolute;
  margin-top: 5%;
  left: 0%;
  right: 0%;
}
.black-set{
  position:absolute;  
  margin-top: 4.8%;
  left: 0%;
  right: 0%;
}
.white-key{
  background: linear-gradient(to bottom,#e6e6e6, antiquewhite);
  background-color: antiquewhite;
}
.black-key{
  margin-right: 17.5px;
  background: linear-gradient(to bottom, black, gray);
}
#k3, #k7, #k0 {
  margin-right: 82px;
}
#k2{
  margin-left: 79px
}


.white-key {
  height:13rem;
  width:4rem;
  text-align: bottom;
}
.black-key{
  height: 8rem;
  width: 3rem;
  background-color: black;
  color: white;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.2;
}

.red {
  color: red;
}

footer{
  position: relative;
  top: 400px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media(max-width: 810px){
  #k3, #k7, #k0 {
    margin-right: 47px;
  }
  #k2{
    margin-left: 34.9px
  }
  .white-key {
    height:10rem;
    width:3rem;
    text-align: bottom;
  }
  .black-key{
    height: 6.15rem;
    width: 2.3rem;
    background-color: black;
    color: white;
  }
  footer{
    position: relative;
    top: 300px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  footer{
    position: relative;
    top: 240px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
}

@media(max-width: 540px){
  .set{
    position: relative;
  }

  .key{
    border-radius: 3%;
  }

  .white-set {
    /* margin: 10% auto; */
    position: absolute;
    margin-top: 5%;
    left: 1%;
    right: 1%;
  }
  .black-set{
    position:absolute;  
    margin-top: 4.8%;
    left: 1%;
    right: 1%;
  }
  .white-key{
    background: linear-gradient(to bottom,#e6e6e6, antiquewhite);
    background-color: antiquewhite;
  }
  .black-key{
    margin-right: 11px;
    background: linear-gradient(to bottom, black, gray);
  }
  #k3, #k7, #k0 {
    margin-right: 47px;
  }
  #k2{
    margin-left: 43.9px
  }


  .white-key {
    height:7.5rem;
    width:2.5rem;
    text-align: bottom;
  }
  .black-key{
    height: 5rem;
    width: 2rem;
    background-color: black;
    color: white;
  }
  footer{
    position: relative;
    top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
}



.white-key{
  font-size: 0px;
}

.c1::before{
  content: "q"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.d1::before{
  content: "w"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.e1::before{
  content: "e"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.f1::before{
  content: "r"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.g1::before{
  content: "t"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.a1::before{
  content: "y"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.b1::before{
  content: "u"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.c2::before{
  content: "i"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.d2::before{
  content: "o"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.e2::before{
  content: "p"; /* The text you want to add on top of the button */
  position: absolute;
  top: -10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}